* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $police_texte;
    scroll-behavior: smooth;
}

body {
    // @extend %screen_max--center;
}

/* html {
    line-height: 1.15;

} */

ul,
ol {
    list-style: none;
}

strong {
    font-weight: bold;
}

img {
    border-style: none;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

button {
    cursor: pointer;
}