// -------------------  BOUTONS VIOLETS  -------------------  
.btn--purple {
    @extend %btn__style--purple--rounded;
    transition: all 0.4s ease-in-out;

    &:hover {
        transform: scale(1.05);
        transform: translate(0, -5px);
        background-position: 30%;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 24px 28px, rgba(0, 0, 0, 0.22) 0px 20px 10px;
    }
}


//  -------------------  BOUTONS MENU PLATS  -------------------  

.entree__li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7F7F7;

    opacity: 0;
    animation: fadeInUp $menuLoading__timer;
    animation-fill-mode: forwards;

}

.menu_button {
    display: flex;
    flex-direction: row;
    height: 70px;
    width: 100%;

    background-color: #FFFFFF;
    border: none;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 14px 28px;
}

.menu_button--description {
    width: 90%;
    max-width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 12px 0px 12px 10px;
    gap: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu_button--title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu_button--titlecontent {
    font-size: 0.9rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu_button--price {
    flex: 0 1 auto;
    display: flex;
    align-items: flex-end;
    height: 100%;
    padding: 0px 20px 12px 0px;
    font-size: 0.9rem;
    font-weight: 700;
}

.menu_button_add--icon {
    width: 0px;
    height: 100%;
    display: flex;
    position: relative;
    background-color: #99E2D0;
    opacity: 0%;
    border-radius: 0px 15px 15px 0px;
    transition: all 1s ease-in-out;
}

.menu_button_add--icon:before {
    content: "";
    width: 24px;
    height: 24px;
    transform: scale(0);
    position: absolute;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
    background-color: white;
    border-radius: 50%;
    transition: all 1s ease-in-out;
}

.menu_button_add--icon:after {
    content: "\f00c";
    font: var(--fa-font-solid);
    font-size: 1rem;
    -webkit-text-stroke: 0.7px #99E2D0;
    transform: scale(0);
    color: #99E2D0;
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 8px);
    transition: all 1s ease-in-out;
}

.menu_button:hover .menu_button_add--icon {
    width: 90px;
    opacity: 100%;
}

.menu_button:hover .menu_button_add--icon:before {
    transform: scale(100%);
}

.menu_button:hover .menu_button_add--icon:after {
    transform: scale(100%) rotate(360deg);
}