footer {
    @extend %flex--column;
    width: auto;
    padding: 30px 30px 40px 30px;
    background-color: $color__txt--grey;
    color: $color__txt--white;
    gap: 15px;

    & .footer_logo {
        font-size: 1.25rem;
        font-family: $police_logo_titres;
        padding-bottom: 15px;
        z-index: 1;
    }

    & a {
        @extend %flex--row;
        width: fit-content;
        color: $color__txt--white;
        position: relative;

        & i {
            width: 30px;
        }

        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: -5px;
            background-color: lighten($color__txt--black, $amount: 20);
            transition: transform .25s ease-in-out;
            transform: scaleX(0);
        }

        &:hover:after {
            transform: scaleX(1);
        }
    }

    @include pc {
        justify-content: center;
        align-items: center;
        background-color: transparent;
        color: $color__txt--black;
        padding-top: 50px;

        & a {
            color: $color__txt--black;
        }

        &::before {
            background-color: rgba($color__primaire, 0.2);
            content: "";
            width: 1000px;
            height: 300px;
            -webkit-mask-image: url(../../assets/img/logo/brush-stroke-banner-6.svg);
            mask-image: url(../../assets/img/logo/brush-stroke-banner-6.svg);
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            -webkit-mask-position: center;
            mask-position: center;
            position: absolute;
        }
    }
}