footer {
    @extend %flex--column;
    width: auto;
    padding: 30px 30px 40px 30px;
    background-color: $color__txt--grey;
    color: $color__txt--white;
    gap: 15px;
    // overflow: hidden;

    & .footer_logo {
        font-size: 1.25rem;
        font-family: $police_logo_titres;
        padding-bottom: 15px;
    }

    & a {
        @extend %flex--row;
        width: fit-content;
        color: $color__txt--white;
        position: relative;

        & i {
            width: 30px;
        }

        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: -5px;
            background-color: lighten($color__txt--black, $amount: 20);
            transition: transform .25s ease-in-out;
            transform: scaleX(0);
        }

        &:hover:after {
            transform: scaleX(1);
        }
    }


    @include pc {
        justify-content: center;
        align-items: center;
        background-color: transparent;
        color: $color__txt--black;

        & a {
            color: $color__txt--black;
        }

        &::before {
            content: "";
            width: 1200px;
            height: 250px;
            background: radial-gradient(circle, rgba($color__primaire, 1) 0%, rgba($color__secondaire, 0) 70%);
            position: absolute;
            transform: rotate(6deg);
            z-index: -1000;
            filter: blur(10px);
        }

    }
}