img {
    // POUR DEBUG SITE POUR QUE LES IMAGES NE PRENNENT QUE LA LARGEUR DU VIEWPORT
    // A ENLEVER APRES
    height: auto;
    max-width: 100%;
}

main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "presentation"
        "fonctionnement"
        "restaurants";
}


.section_presentation {
    grid-area: presentation;
    @extend %flex--center--column;
    background-color: $color__grey-white;
    padding: 50px 25px 50px 25px;
    gap: 20px;
    text-align: center;

    h1 {
        @extend %txt__style--title
    }

    p {
        font-weight: 400;
        font-size: 1.15rem;
        letter-spacing: -0.5px;
        color: $color__txt--grey;
    }

    a {
        @extend %btn__style--purple--rounded;
    }
}

.section_fonctionnement {
    grid-area: fonctionnement;

    @extend %flex--column;

    padding: 40px 25px 50px 25px;
    gap: 30px;

    h2 {
        @extend %txt__style--title;
    }

}

.section_ul {
    @extend %flex--center--column;
    gap: 25px;
    padding: 0px 20px 0px 30px;

    li {
        @extend %flex--row;
        align-items: center;
        width: 100%;
        padding: 20px 0px 20px 0px;
        background-color: $color__grey-white;
        border-radius: 25px 25px 25px 25px;
        box-shadow: rgba(0, 0, 0, 0.10) 0px 10px 10px;


        div {
            position: relative;
            right: 15px;
            padding: 5px 10px 5px 10px;
            border-radius: 50% 50% 50% 50%;
            background-color: $color__primaire;
            color: $color__txt--white;
            text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
            box-shadow: inset 10px 0px 10px 0px rgba(0, 0, 0, 0.3);
        }

        i {
            padding-right: 15px;
            background-color: #7E7E7E;
            color: transparent;
            text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
        }

        p {
            font-family: $police_texte;
            font-weight: 500;
            font-size: 1rem;
            background-color: $color__txt--black;
            color: transparent;
            text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
        }
    }
}

.section_restaurants {
    grid-area: restaurants;
    background-color: $color__grey-white;

    h2 {
        @extend %txt__style--title;
    }


}