//Landing page Grid layout
#landingPage__main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "localisation"
        "presentation"
        "fonctionnement"
        "restaurants"
    ;

}

//Menu GHrid layout
.menuPage__main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "section__photo"
        "section__menu"
    ;
}


.section_localisation {
    grid-area: localisation;
    width: 100%;
    padding: 15px 0 15px 0;
    gap: 0.75rem;
    background-color: $color__light-grey;
    background: linear-gradient(180deg, rgba(234, 234, 234, 1) 0%, rgba(233, 233, 233, 1) 100%);
    box-shadow: inset rgba(0, 0, 0, 0.45) 0px 12px 20px -20px;

    & span {
        @extend %flex--row;
        align-items: flex-start;
        padding-left: calc(50% - 90px); //penser à changer les 90px si width de input change
    }

    & span input {
        width: 180px;
        overflow: hidden;
        text-overflow: ellipsis;
        border: none;
        outline: none;
        font-family: $police_texte;
        font-weight: 500;
        font-size: 1rem;
        color: $color__txt--black;
        background-color: transparent;
    }

    & span::before {
        content: "\f3c5";
        font: var(--fa-font-solid);
        padding-right: 10px;
    }

    @include pc {
        background: linear-gradient(90deg, rgba(234, 234, 234, 0) 0%, rgba(234, 234, 234, 1) 50%, rgba(234, 234, 234, 0) 100%);
        box-shadow: rgba(0, 0, 0, 0.10) 0px 25px 20px -20px;
    }
}

.section_presentation {
    grid-area: presentation;
    @extend %flex__center--column;
    background-color: $color__grey-white;
    padding: 45px 10px 50px 10px;
    gap: 20px;
    text-align: center;

    & h1 {
        @extend %txt__style--title
    }

    & p {
        font-weight: 400;
        font-size: 1.15rem;
        letter-spacing: -0.5px;
        color: $color__txt--grey;
    }

    & a {
        @extend %btn__style--purple--rounded;
        margin-top: 25px;
        transition: all 0.4s ease-in-out;

        &:hover {
            transform: scale(1.05);
            transform: translate(0, -5px);
            background-image: linear-gradient(170deg, $color__secondaire 20%, $color__primaire 68%);
            box-shadow: rgba(0, 0, 0, 0.25) 0px 24px 28px, rgba(0, 0, 0, 0.22) 0px 20px 10px;
        }
    }

    @include pc {
        background: linear-gradient(90deg, rgba(234, 234, 234, 0) 0%, $color__grey-white 40%, $color__grey-white 60%, rgba(234, 234, 234, 0) 100%);
    }
}

.section_fonctionnement {
    grid-area: fonctionnement;
    @extend %flex--column;
    padding: 40px 25px 50px 25px;
    gap: 30px;

    & h2 {
        @extend %txt__style--title;
    }

    @include pc {
        align-items: center;
        gap: 50px;
        padding-bottom: 80px;
    }

}

.section_ul {
    @extend %flex__center--column;
    gap: 25px;
    padding: 0px 20px 0px 20px;

    @include tablettes {
        flex-direction: row;
        padding: 0;
        gap: 30px;
    }

    & li {
        @extend %flex--row;
        align-items: center;
        width: 100%;
        padding: 20px 0px 20px 0px;
        background-color: $color__grey-white;
        border-radius: 25px 25px 25px 25px;
        box-shadow: rgba(0, 0, 0, 0.10) 0px 10px 10px;
        transition: all 0.25s ease-in-out;

        &:hover {
            background-color: lighten($color__primaire, $amount: 35);
            transform: scale(1.05);
            box-shadow: rgba(0, 0, 0, 0.30) 0px 20px 20px;


            & i {
                background-color: $color__primaire;
            }
        }

        @include tablettes {
            padding: 10px 0px 10px 0px;
            margin: 0px 15px 0px 15px;
        }

        @include pc {
            width: auto;
        }


        & div {
            position: relative;
            right: 15px;
            padding: 5px 10px 5px 10px;
            border-radius: 50% 50% 50% 50%;
            background-color: $color__primaire;
            color: $color__txt--white;
            text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
            box-shadow: inset 10px 0px 10px 0px rgba(0, 0, 0, 0.3);
        }

        & i {
            padding-left: 10px;
            padding-right: 25px;
            background-color: #7E7E7E;
            @extend %txt--innershadow;
            transition: all 0.4s ease-in-out;


            @include tablettes {
                padding-left: 0;
                padding-right: 15px;
            }

            @include pc {
                display: flex;
                justify-content: center;
                padding: 0px 15px 0px 0px;
            }
        }

        & p {
            font-family: $police_texte;
            font-weight: 500;
            font-size: 1rem;
            background-color: $color__txt--black;
            @extend %txt--innershadow;

            @include tablettes {
                padding-right: 15px;
                text-align: center;
            }

            @include pc {
                padding: 0px 30px 0px 0px;
            }
        }
    }
}

.section_restaurants {
    grid-area: restaurants;
    background-color: $color__grey-white;
    padding: 40px 25px 50px 25px;
    gap: 30px;

    @extend %flex--column;

    & h2 {
        @extend %txt__style--title;
    }

    @include pc {
        align-items: center;
        background: linear-gradient(90deg, rgba(234, 234, 234, 0) 0%, $color__grey-white 40%, $color__grey-white 60%, rgba(234, 234, 234, 0) 100%);
    }
}

.cards_ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;

    @include tablettes {
        width: 100%;
        grid-template-columns: 1fr 1fr;
        padding: 0px 15px 0px 15px;
    }

    @include pc {
        width: 70%;
        padding: 0px 15px 0px 15px;
    }
}

.card_wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 20px 20px 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: all 0.25s ease-in-out;

    & span {
        position: absolute;
        top: 15px;
        right: 15px;
        width: max-content;
        padding: 6px 12px;
        border-radius: 5px;
        background-color: $color__tertiaire;
        color: $color__txt--nouveau;
        font-weight: 700;
    }

    & a {
        @extend %flex--column;
        border-radius: 20px 20px 20px 20px;

        & .card_wrapper_photo {

            & img {
                height: 170px;
                width: 100%;
                background-size: cover;
                object-fit: cover;
                border-radius: 20px 20px 0px 0px;
            }
        }

        & .card_wrapper_legende {
            @extend %flex--row;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px 15px 15px;

            & div {
                color: $color__txt--black;
            }
        }

    }

    & .btn_favoris {
        position: absolute;
        bottom: 25px;
        right: 20px;
        border: none;

        & i {
            font-size: 1.5rem;
            color: transparent;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: $color__txt--black;
            transition: all 0.5s ease-in-out;

            &:hover {
                // animation: all 1s ease-in-out;
                color: #df6fdc;
                color: -webkit-linear-gradient(39deg, #df6fdc 0%, #be65db 50%, #a45cdc 100%);
                color: linear-gradient(39deg, #df6fdc 0%, #be65db 50%, #a45cdc 100%);
                -webkit-text-stroke-width: 0px;
            }
        }
    }

    &:hover {
        transform: scale(1.05);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 28px, rgba(0, 0, 0, 0.22) 0px 25px 10px;
    }
}