/* tablettes */
/* pc */
/* pc > max-width */
.menuPage__menu, .menuPage__photo, #menuPage__main, #landingPage__main, header {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.menu__container--entrees ul,
.menu__container--plats ul,
.menu__container--desserts ul, .section_ul, .section_presentation, header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

footer a, .card_wrapper a .card_wrapper_legende, .section_ul li, .section_localisation span, .header__menuPage {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

footer, .menuPage__menu, .card_wrapper a, .section_restaurants, .section_fonctionnement {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.section_restaurants h2, .section_fonctionnement h2, .section_presentation h1 {
  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: -0.5px;
  background-color: #000000;
  color: transparent;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.35);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.btn--purple {
  width: 200px;
  padding: 15px 20px 15px 20px;
  border-radius: 50px;
  border: none;
  font-size: 1rem;
  color: #EAEAEA;
  background-image: radial-gradient(100% 50% at 20% 10%, #FF79DA 0%, #9356DC 100%);
  background-size: 200%;
  background-position: 80%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  text-shadow: 2px 2px 3px rgba(44, 44, 44, 0.25);
}
.btn--purple span {
  letter-spacing: -0.5px;
  color: #FFFFFF;
}

.section_ul li p, .section_ul li i {
  color: transparent;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.menuPage__menu .menuPage__title .btn_favoris, .card_wrapper .btn_favoris {
  bottom: 25px;
  right: 20px;
  border: none;
  color: transparent;
  background-color: transparent;
}
.menuPage__menu .menuPage__title .btn_favoris .card_favori, .card_wrapper .btn_favoris .card_favori {
  font-size: 1.5rem;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000000;
  transition: all 0.25s;
}
.menuPage__menu .menuPage__title .btn_favoris .card_favori:hover, .card_wrapper .btn_favoris .card_favori:hover {
  background-image: #df6fdc;
  background-image: -webkit-linear-gradient(39deg, #FF79DA 0%, #9356DC 100%);
  background-image: linear-gradient(39deg, #FF79DA 0%, #9356DC 100%);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  transform: scale(1.1);
}

@keyframes fadeInUp {
  70% {
    transform: translateY(25px);
    display: flex;
    visibility: visible;
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.menu_ul li:nth-child(1) {
  animation-delay: 0.15s;
}

.menu_ul li:nth-child(2) {
  animation-delay: 0.3s;
}

.menu_ul li:nth-child(3) {
  animation-delay: 0.45s;
}

.menu_ul li:nth-child(4) {
  animation-delay: 0.6s;
}

.menu_ul li:nth-child(5) {
  animation-delay: 0.75s;
}

.menu_ul li:nth-child(6) {
  animation-delay: 0.9s;
}

.menu_ul li:nth-child(7) {
  animation-delay: 1.05s;
}

.menu_ul li:nth-child(8) {
  animation-delay: 1.2s;
}

.menu_ul li:nth-child(9) {
  animation-delay: 1.35s;
}

.menu_ul li:nth-child(10) {
  animation-delay: 1.5s;
}

.btn--purple {
  transition: all 0.4s ease-in-out;
}
.btn--purple:hover {
  transform: scale(1.05);
  transform: translate(0, -5px);
  background-position: 30%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 24px 28px, rgba(0, 0, 0, 0.22) 0px 20px 10px;
}

.entree__li {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F7F7F7;
  opacity: 1;
  animation: fadeInUp 4.25s;
}

.menu_button {
  display: flex;
  flex-direction: row;
  height: 70px;
  width: 100%;
  background-color: #FFFFFF;
  border: none;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 14px 28px;
}

.menu_button--description {
  flex-grow: 1;
  flex-shrink: 3;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 12px 0px 12px 10px;
  gap: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu_button--title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu_button--titlecontent {
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu_button--price {
  flex: 0 1 auto;
  display: flex;
  align-items: flex-end;
  height: 100%;
  padding: 0px 20px 12px 0px;
  font-size: 0.9rem;
  font-weight: 700;
}

.menu_button_add--icon {
  width: 0px;
  height: 100%;
  display: flex;
  position: relative;
  background-color: #99E2D0;
  opacity: 0%;
  border-radius: 0px 15px 15px 0px;
  transition: all 1s ease-in-out;
}

.menu_button_add--icon:before {
  content: "";
  width: 24px;
  height: 24px;
  transform: scale(0);
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 12px);
  background-color: white;
  border-radius: 50%;
  transition: all 1s ease-in-out;
}

.menu_button_add--icon:after {
  content: "\f00c";
  font: var(--fa-font-solid);
  font-size: 1rem;
  -webkit-text-stroke: 0.7px #99E2D0;
  transform: scale(0);
  color: #99E2D0;
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 8px);
  transition: all 1s ease-in-out;
}

.menu_button:hover .menu_button_add--icon {
  width: 70px;
  opacity: 100%;
}

.menu_button:hover .menu_button_add--icon:before {
  transform: scale(100%);
}

.menu_button:hover .menu_button_add--icon:after {
  transform: scale(100%) rotate(360deg);
}

.modale__container {
  width: 100%;
  height: 100vh;
  padding-top: 48%;
  position: fixed;
  background: linear-gradient(295deg, black, #2d0020);
  box-shadow: inset 0px 0px 500px 100px rgba(0, 0, 0, 0.8);
  z-index: 9000;
  visibility: hidden;
  opacity: 0;
  -webkit-animation: modale__visibility 1s ease-out both;
  animation: modale__visibility 1s ease-out both;
  animation-delay: 2s;
}
.modale__container .svg-content {
  position: absolute;
  top: 0;
  left: 0;
}
.modale__container .svg-content text {
  width: 100%;
  font-family: "Shrikhand", sans-serif;
  animation: stroke 3s infinite alternate;
  stroke-width: 1;
  font-size: 40px;
}
@media (min-width: 768px) {
  .modale__container .svg-content text {
    font-size: 80px;
  }
}
@media (min-width: 1025px) {
  .modale__container .svg-content text {
    font-size: 100px;
  }
}

@keyframes stroke {
  0% {
    fill: rgba(0, 0, 0, 0);
    stroke: #9356DC;
    stroke-dasharray: 0 50%;
  }
  80% {
    fill: rgba(255, 255, 255, 0);
    stroke: #FF79DA;
  }
  100% {
    fill: #99E2D0;
    stroke: rgb(0, 0, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
  }
}
@keyframes modale__visibility {
  0% {
    visibility: visible;
    opacity: 1;
  }
  80% {
    visibility: visible;
    opacity: 0.9;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Courier, monospace;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

/* html {
    line-height: 1.15;

} */
ul,
ol {
  list-style: none;
}

strong {
  font-weight: bold;
}

img {
  border-style: none;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

button {
  cursor: pointer;
}

header {
  width: 100%;
}
header .header_logo {
  font-size: 2.25rem;
  padding: 5px 0 5px 0;
  font-family: "Shrikhand", Courier, monospace;
}

.header__menuPage a {
  position: relative;
  left: -20%;
  color: #000000;
  font-size: 1.2rem;
  transition: all 0.15s ease-in-out;
}
.header__menuPage a:hover {
  transform: scale(1.3);
}

#landingPage__main {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "localisation" "presentation" "fonctionnement" "restaurants";
}

#menuPage__main {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "section__photo" "section__menu";
}

.section_localisation {
  grid-area: localisation;
  width: 100%;
  padding: 15px 0 15px 0;
  gap: 0.75rem;
  background-color: #EAEAEA;
  background: linear-gradient(180deg, rgb(234, 234, 234) 0%, rgb(233, 233, 233) 100%);
  box-shadow: inset rgba(0, 0, 0, 0.45) 0px 12px 20px -20px;
}
.section_localisation span {
  align-items: flex-start;
  padding-left: calc(50% - 90px);
}
.section_localisation span input {
  width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  font-family: "Roboto", Courier, monospace;
  font-weight: 500;
  font-size: 1rem;
  color: #000000;
  background-color: transparent;
}
.section_localisation span::before {
  content: "\f3c5";
  font: var(--fa-font-solid);
  padding-right: 10px;
}
@media (min-width: 1025px) {
  .section_localisation {
    background: linear-gradient(90deg, rgba(234, 234, 234, 0) 0%, rgb(234, 234, 234) 50%, rgba(234, 234, 234, 0) 100%);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 25px 20px -20px;
  }
}

.section_presentation {
  grid-area: presentation;
  background-color: #F7F7F7;
  padding: 45px 10px 50px 10px;
  gap: 20px;
  text-align: center;
}
.section_presentation p {
  font-weight: 400;
  font-size: 1.15rem;
  letter-spacing: -0.5px;
  color: #353535;
}
.section_presentation a {
  padding-top: 20px;
}
@media (min-width: 1025px) {
  .section_presentation {
    background: linear-gradient(90deg, rgba(234, 234, 234, 0) 0%, #F7F7F7 40%, #F7F7F7 60%, rgba(234, 234, 234, 0) 100%);
  }
}

.section_fonctionnement {
  grid-area: fonctionnement;
  padding: 40px 25px 50px 25px;
  gap: 30px;
}
@media (min-width: 1025px) {
  .section_fonctionnement {
    align-items: center;
    gap: 50px;
    padding-bottom: 80px;
  }
}

.section_ul {
  gap: 25px;
  padding: 0px 20px 0px 20px;
}
@media (min-width: 768px) {
  .section_ul {
    flex-direction: row;
    padding: 0;
    gap: 30px;
  }
}
.section_ul li {
  align-items: center;
  width: 100%;
  padding: 20px 0px 20px 0px;
  background-color: #F7F7F7;
  border-radius: 25px 25px 25px 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 10px;
  transition: all 0.25s ease-in-out;
}
.section_ul li:hover {
  background-color: #f2eafb;
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 20px 20px;
}
.section_ul li:hover i {
  background-color: #9356DC;
}
@media (min-width: 768px) {
  .section_ul li {
    padding: 10px 0px 10px 0px;
    margin: 0px 15px 0px 15px;
  }
}
@media (min-width: 1025px) {
  .section_ul li {
    width: auto;
  }
}
.section_ul li div {
  position: relative;
  right: 15px;
  padding: 5px 10px 5px 10px;
  border-radius: 50% 50% 50% 50%;
  background-color: #9356DC;
  color: #FFFFFF;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 10px 0px 10px 0px rgba(0, 0, 0, 0.3);
}
.section_ul li i {
  padding-left: 10px;
  padding-right: 25px;
  background-color: #7E7E7E;
  transition: all 0.4s ease-in-out;
}
@media (min-width: 768px) {
  .section_ul li i {
    padding-left: 0;
    padding-right: 15px;
  }
}
@media (min-width: 1025px) {
  .section_ul li i {
    display: flex;
    justify-content: center;
    padding: 0px 15px 0px 0px;
  }
}
.section_ul li p {
  font-family: "Roboto", Courier, monospace;
  font-weight: 500;
  font-size: 1rem;
  background-color: #000000;
}
@media (min-width: 768px) {
  .section_ul li p {
    padding-right: 15px;
    text-align: center;
  }
}
@media (min-width: 1025px) {
  .section_ul li p {
    padding: 0px 30px 0px 0px;
  }
}

.section_restaurants {
  grid-area: restaurants;
  background-color: #F7F7F7;
  padding: 40px 25px 50px 25px;
  gap: 30px;
}
@media (min-width: 1025px) {
  .section_restaurants {
    align-items: center;
    background: linear-gradient(90deg, rgba(234, 234, 234, 0) 0%, #F7F7F7 40%, #F7F7F7 60%, rgba(234, 234, 234, 0) 100%);
  }
}

.cards_ul {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}
@media (min-width: 768px) {
  .cards_ul {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    padding: 0px 15px 0px 15px;
  }
}
@media (min-width: 1025px) {
  .cards_ul {
    width: 70%;
    padding: 0px 15px 0px 15px;
  }
}

.card_wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 20px 20px 20px 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  transition: all 0.25s ease-in-out;
}
.card_wrapper span {
  position: absolute;
  top: 15px;
  right: 15px;
  width: max-content;
  padding: 6px 12px;
  border-radius: 5px;
  background-color: #99E2D0;
  color: #008766;
  font-weight: 700;
}
.card_wrapper a {
  border-radius: 20px 20px 20px 20px;
}
.card_wrapper a .card_wrapper_photo img {
  height: 170px;
  width: 100%;
  background-size: cover;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.card_wrapper a .card_wrapper_legende {
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 15px 15px;
}
.card_wrapper a .card_wrapper_legende div {
  color: #000000;
}
.card_wrapper .btn_favoris {
  position: absolute;
}
.card_wrapper:hover {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 28px, rgba(0, 0, 0, 0.22) 0px 25px 10px;
}

.menuPage__photo {
  grid-area: section__photo;
  display: flex;
  width: 100%;
}
.menuPage__photo img {
  height: 200px;
  width: 100%;
  background-size: cover;
  object-fit: cover;
}

.menuPage__menu {
  grid-area: section__menu;
  width: 100vw;
  height: calc(100% + 2rem);
  position: relative;
  top: -2rem;
  padding: 0px 15px 0px 15px;
  border-radius: 2rem 2rem 0 0;
  background-color: #F7F7F7;
}
.menuPage__menu .menuPage__title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 2rem 0 2rem 0;
  padding-right: 20px;
}
.menuPage__menu .menuPage__title h1 {
  font-family: "Shrikhand", Courier, monospace;
  font-weight: 300;
}
.menuPage__menu .menu__container--btnCommander {
  margin-left: auto;
  margin-right: auto;
}

.menu__container--entrees h2,
.menu__container--plats h2,
.menu__container--desserts h2 {
  font-size: 1.1rem;
  font-weight: 300;
  text-transform: uppercase;
  padding-bottom: 30px;
  position: relative;
}
.menu__container--entrees h2::after,
.menu__container--plats h2::after,
.menu__container--desserts h2::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 3.5px;
  bottom: 20px;
  left: 0px;
  background-color: #99E2D0;
}
.menu__container--entrees ul,
.menu__container--plats ul,
.menu__container--desserts ul {
  gap: 15px;
  padding-bottom: 3rem;
}
@media (min-width: 768px) {
  .menu__container--entrees ul,
.menu__container--plats ul,
.menu__container--desserts ul {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
}
.menu__container--entrees ul .entree__li,
.menu__container--plats ul .entree__li,
.menu__container--desserts ul .entree__li {
  border-radius: 15px;
  width: 100%;
}
@media (min-width: 768px) {
  .menu__container--entrees ul .entree__li,
.menu__container--plats ul .entree__li,
.menu__container--desserts ul .entree__li {
    max-width: 370px;
  }
}
.menu__container--entrees ul .entree__li:hover,
.menu__container--plats ul .entree__li:hover,
.menu__container--desserts ul .entree__li:hover {
  cursor: pointer;
}

footer {
  width: auto;
  padding: 30px 30px 40px 30px;
  background-color: #353535;
  color: #FFFFFF;
  gap: 15px;
}
footer .footer_logo {
  font-size: 1.25rem;
  font-family: "Shrikhand", Courier, monospace;
  padding-bottom: 15px;
  z-index: 1;
}
footer a {
  width: fit-content;
  color: #FFFFFF;
  position: relative;
}
footer a i {
  width: 30px;
}
footer a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  background-color: #333333;
  transition: transform 0.25s ease-in-out;
  transform: scaleX(0);
}
footer a:hover:after {
  transform: scaleX(1);
}
@media (min-width: 1025px) {
  footer {
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #000000;
    padding-top: 50px;
  }
  footer a {
    color: #000000;
  }
  footer::before {
    background-color: rgba(147, 86, 220, 0.2);
    content: "";
    width: 1000px;
    height: 300px;
    -webkit-mask-image: url(../../assets/img/logo/brush-stroke-banner-6.svg);
    mask-image: url(../../assets/img/logo/brush-stroke-banner-6.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    position: absolute;
  }
}
