.section_ul, .section_presentation, header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.section_ul li, .header_location {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.section_fonctionnement {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.section_restaurants h2, .section_fonctionnement h2, .section_presentation h1 {
  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: -0.5px;
  background-color: #000000;
  color: transparent;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.35);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.section_presentation a {
  padding: 15px 20px 15px 20px;
  border-radius: 50px 50px 50px 50px;
  color: #EAEAEA;
  background: #9356DC;
  background-image: linear-gradient(170deg, #FF79DA 0%, #9356DC 48%);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  text-shadow: 2px 2px 3px rgba(44, 44, 44, 0.25);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Courier, monospace;
  scroll-behavior: smooth;
}

/* html {
    line-height: 1.15;

} */
ul,
ol {
  list-style: none;
}

strong {
  font-weight: bold;
}

img {
  border-style: none;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

button {
  cursor: pointer;
}

header {
  width: 100%;
}

.header_logo {
  height: 3.25rem;
  padding: 10px 0 10px 0;
}
.header_logo path {
  fill: #353535;
}

.header_location {
  align-items: center;
  height: 1.5rem;
  width: 100%;
  padding: 25px 0 25px 0;
  gap: 1.25rem;
  background-color: #EAEAEA;
  box-shadow: inset rgba(0, 0, 0, 0.45) 0px 12px 20px -20px;
}
.header_location i {
  flex: 1;
  position: relative;
  left: 110px;
}
.header_location input {
  flex: 2;
  border: none;
  font-family: "Roboto", Courier, monospace;
  font-weight: 500;
  font-size: 1rem;
  color: #000000;
  background-color: transparent;
}

img {
  height: auto;
  max-width: 100%;
}

main {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "presentation" "fonctionnement" "restaurants";
}

.section_presentation {
  grid-area: presentation;
  background-color: #F7F7F7;
  padding: 50px 25px 50px 25px;
  gap: 20px;
  text-align: center;
}
.section_presentation p {
  font-weight: 400;
  font-size: 1.15rem;
  letter-spacing: -0.5px;
  color: #353535;
}
.section_fonctionnement {
  grid-area: fonctionnement;
  padding: 40px 25px 50px 25px;
  gap: 30px;
}
.section_ul {
  gap: 25px;
  padding: 0px 20px 0px 30px;
}
.section_ul li {
  align-items: center;
  width: 100%;
  padding: 20px 0px 20px 0px;
  background-color: #F7F7F7;
  border-radius: 25px 25px 25px 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 10px;
}
.section_ul li div {
  position: relative;
  right: 15px;
  padding: 5px 10px 5px 10px;
  border-radius: 50% 50% 50% 50%;
  background-color: #9356DC;
  color: #FFFFFF;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 10px 0px 10px 0px rgba(0, 0, 0, 0.3);
}
.section_ul li i {
  padding-right: 15px;
  background-color: #7E7E7E;
  color: transparent;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}
.section_ul li p {
  font-family: "Roboto", Courier, monospace;
  font-weight: 500;
  font-size: 1rem;
  background-color: #000000;
  color: transparent;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.section_restaurants {
  grid-area: restaurants;
  background-color: #F7F7F7;
}
