@keyframes fadeInUp {
    70% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}


@for $i from 1 through $menuLoading__itemNumber {
    .menu_ul li:nth-child(#{$i}) {
        animation-delay: calc($i * 0.15s);
    }
}