// pour le html reutilisable

$color__primaire: #9356DC;
$color__secondaire: #FF79DA;
$color__tertiaire: #99E2D0;

$color__light-grey: #EAEAEA;
$color__grey-white: #F7F7F7;

$color__txt--black: #000000;
$color__txt--grey: #353535;

$color__txt--nouveau: #008766;
$color__txt--white: #FFFFFF;


$police_logo_titres: "Shrikhand", Courier, monospace;
$police_texte: "Roboto", Courier, monospace;

$screen_max_width: 1400px;

$preloader__timer : 3s;
$preloader__fadeout: 1s;